body {
  height: 100vh;
  width: 100vh;
  padding: 0%;
  margin: 0%;
  display: ;
  background-image: url(full\ frame.png);
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
}
.hero ul {
  display: flex;
  position: absolute;
  right: 0px;
  top: 10px;
}
.hero li {
  padding: 10px;
  list-style: none;
  justify-content: space-around;
}
.hero a {
  text-decoration: none;
  color: black;
}
#contact {
  background-color: #ffde59;
  color: black;
  padding: 20px;
  font-family: "Times New Roman", Times, serif;
}
