html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.container {
  background: linear-gradient(135deg, red, blue);
  height: 100%;
  align-items: center;
}

.content {
  text-align: center;
  max-width: 400vh;
  max-height: 100vh;
}
